* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  background-color: #EEEEEE;
  margin-right: 30px;
  padding: 10px;
  position: relative;
}


.step-img1 {
  height: 150px;
  background-image: url(chapter9.img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.step-img2 {
  height: 150px;
  background-image: url(chapter9.img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(chapter9.img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9a4b;
  color: #FFF;
}

.title {
  margin: 15px 0 5px ;
}


footer {
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 768px) {
  .step-box {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    
  }
  
  .step-box:last child {
    margin-bottom: 50px;
  }
  
  .step-img1 {
    height: 150px;
  }
  
  main {
    width: 100%;
    display: block;
  }
}
